<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
      <td>id</td>
        <td>title</td>
        <td>article</td>
    </tr>
    </thead>
    <tbody>
        <tr th:each="item : ${posts}">
            <td th:text="${item.member.name}"></td>
            <td th:text="${item.title}"></td>
            <td th:text="${item.article}"></td>
        </tr>
    </tbody>
</table>
<ul class="pagination">
    <!-- li태그의 클래스에 disabled를 넣으면 마우스를 위에 올렸을 때 클릭 금지 마크가 나오고 클릭도 되지 않는다.-->
    <!-- disabled의 의미는 앞의 페이지가 존재하지 않다는 뜻이다. -->

    <!-- li태그의 클래스에 active를 넣으면 색이 반전되고 클릭도 되지 않는다. -->
    <!-- active의 의미는 현재 페이지의 의미이다. -->
    <li th:if="${!posts.first}">
        <a th:href="@{pages(page=${posts.number} - 1,size=${size})}"><span>«</span></a>
    </li>

<!--    <li th:each="page:${#numbers.sequence(0,posts.totalPages - 1)}">-->
<!--        <a th:href="@{pages(page=${page},size=${size})}" th:text="${page+1}"></a>-->
<!--    </li>-->

    <li th:if="${!posts.last}">
        <a th:href="@{pages(page=${posts.number} + 1,size=${size})}">
        <span>»</span>
        </a>
    </li>
</ul>

</body>
</html>